html,
body {
  --color-white-300: rgb(226, 232, 240);
  --color-grey-100: rgb(232, 232, 232);
  --color-grey-200: rgb(190, 190, 190);
  --color-grey-300: rgb(100, 116, 139);
  --color-grey-600: rgb(61, 74, 94);
  --color-purple-100: rgb(238, 241, 255);
  --color-purple-300: rgb(199, 210, 254);
  --color-purple-600: rgb(85, 79, 232);
  --color-blue-600: rgb(30, 41, 59);
  --color-blue-900: rgb(15, 23, 42);

  //SPECIFIC USE
  --color-topNavbar: white;
  --box-shadow: 0px 10px 10px 1px rgb(0 0 0 / 25%);
  --color-background-inner: #f0f4f8;
  --color-background-squares: white;
  --color-text: var(--color-blue-600);
  --color-text-sm: var(--color-grey-200);
  --color-darkSvg: var(--color-blue-900);
  --color-lightBackground: var(--color-purple-300);
  --color-lightBackgroundSvg: var(--color-purple-300);
  --color-btn: var(--color-purple-600);
  --color-btn-hover: rgb(56, 53, 161);

  //HOVER
  --color-hover-red: rgb(160, 1, 1);
  --color-hover-link: var(--color-blue-900);
  --color-navbarIcon-hover: black;
  --color-navbarIcon-bg-hover: darkgray;

  background: var(--color-background-inner);
}

.darkMode {
  --color-dark-600: #0e0e10;
  --color-dark-500: #18181b;
  --color-dark-400: #1f1f23;
  --color-dark-300: #26262c;
  --color-dark-200: #323239;
  --color-dark-100: #3b3b44;

  //CHANGED COLORS
  --color-topNavbar: var(--color-dark-500);
  --color-background-inner: var(--color-dark-500);
  --color-background-squares: var(--color-dark-300);
  --color-text: rgb(227, 227, 227);
  --color-text-sm: rgb(227, 227, 227);
  --color-darkSvg: rgb(227, 227, 227);
  --color-lightBackground: var(--color-dark-300);
  --color-lightBackgroundSvg: var(--color-dark-300);
  --color-grey-300: rgb(227, 227, 227);
  --color-grey-200: var(--color-dark-200);
  --color-grey-100: var(--color-dark-300);

  //HOVER
  --color-hover-link: var(--color-purple-300);
  --color-navbarIcon-hover: var(--color-purple-300);
  --color-navbarIcon-bg-hover: var(--color-purple-600);
}
