.container {
    display: flex;
    min-height: 100vh;
    user-select: none;
    overflow-x: hidden;
    background: var(--color-background-inner);

    @media screen and (max-width: 730px) {
        flex-direction: column-reverse;
        justify-content: center;
        gap: 1.5rem;
        padding: 0 1.2rem;
        .registerContainer {
            padding-top: 0rem;
            padding-bottom: 2rem;
        }
        .circleContainer {
            padding-top: 3rem;
            padding-bottom: 0rem;
        }
    }
}

.form {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem 0;
    background: var(--color-background-inner);

    .formWrapper {
        text-align: start;
        text-align: start;
        width: max(25vw, 400px);
        max-width: 500px;
        @media screen and (max-width: 930px) {
            padding: 0 2rem;
        }
        @media screen and (max-width: 400px) {
            width: auto;
            padding: 0;
        }
    }
    .nameInner {
        display: flex;
        gap: 2rem;
        margin-top: 2rem;
        @media screen and (max-width: 930px) {
            flex-direction: column;
            gap: 0rem;
        }
    }
}

.message {
    @media screen and (max-width: 930px) {
        text-align: center;
    }
    span {
        display: block;
        font-size: max(2.3vw, 2.2rem);
        margin-bottom: 0.3rem;
        font-weight: 500;
        color: var(--color-text);
        @media screen and (min-width: 2500px) {
            font-size: 4rem;
        }
    }
    p {
        font-size: max(0.8vw, 0.9rem);
        color: var(--color-grey-300);
    }
}

.roleContainer {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    label {
        color: var(--color-text);
    }
    .selectContainer {
        margin-bottom: 2rem;
        min-width: 100%;
        max-width: 650px;
        transition: outline-color ease-in-out 250ms;
        @media screen and (min-width: 3000px) {
            padding: 1.2rem;
        }
        select {
            width: 100%;
            background: var(--color-background-inner);
            padding: max(0.65vw, 0.5rem);
            outline: 1.5px solid var(--color-grey-200);
            border-radius: 10px;
            color: var(--color-text);

            &:focus {
                outline: none;
                box-shadow: 0 0 0 1px var(--color-purple-600);
            }
            &:hover {
                outline-color: var(--color-purple-600);
            }
            option {
                border: none;
                box-shadow: none;
                outline: none;
                background: var(--color-background-inner);
            }
        }
    }
}

.btnContainer {
    &:focus-within {
        outline: none;
        box-shadow: 0 0 0 1px var(--color-purple-600);
    }
}

.accountExists {
    margin-top: 1rem;
    text-align: center;

    span {
        color: var(--color-grey-300);
        font-size: max(0.5vw, 0.8rem);
        a {
            color: var(--color-purple-600);
            text-decoration: none;
            transition: color 250ms ease-in-out;
            &:hover,
            &:focus {
                color: var(--color-hover-link);
                outline: none;
                box-shadow: 0 0 0 1px var(--color-purple-600);
            }
        }
    }
}

.err {
    margin-top: 1rem;
    text-align: center;
    color: darkred;
    font-size: 0.9rem;
}
